<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jordan's Super-Duper Card Game</title>
  <script src="/node_modules/angular/angular.min.js"></script>
  <script src="/app/app.js"></script>
  <script src="/app/game-controller.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body ng-app="app">
  <div class="game-board" ng-controller="GameController">
    <button ng-click="killPlayer1Card1()" style="position:absolute; z-index:1000;">Kill player 1's first card</button>
    <div class="player-battlefield top-player-shift rotate-upside-down">
      <div class="card" ng-repeat="foo in players[2].deck">
        <div>{{foo.name}}</div>
        <div>Health: {{foo.health}}</div>
      </div>
    </div>
    <div class="player-battlefield bottom-player-shift">
      <div class="card" ng-repeat="foo in players[0].deck">
        <div>{{foo.name}}</div>
        <div>Health: {{foo.health}}</div>
      </div>
    </div>
    <div class="player-battlefield left-player-shift rotate-right">
      <div class="card" ng-repeat="foo in players[1].deck">
        <div>{{foo.name}}</div>
        <div>Health: {{foo.health}}</div>
      </div>
    </div>
    <div class="player-battlefield right-player-shift rotate-left">
      <div class="card" ng-repeat="foo in players[3].deck">
        <div>{{foo.name}}</div>
        <div>Health: {{foo.health}}</div>
      </div>
    </div>
  </div>
</body>
</html>